<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://use.fontawesome.com/6c1b8128f1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">--}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
